/* далее описана ссылка раздела Фейнман */

.feynman__link {
  /* расположение ссылки */
  position: absolute;
  top: 50%;
  right: 48px;
  /* стиль ссылки */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
}
