/* ниже описываются элементы раздела header */

.header {
  /* ниже устанавливаем размеры и ограничения для секции */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* относительное позиционирование для корректной расстановки элементов */
  position: relative;
  /* преобразуем раздел во флекс-контейнер для расстановки элементов */
  display: flex;
  flex-direction: row;
  /* центровка вложенных элементов */
  justify-content: flex-start;
  align-items: center;
  /* "светло-серая" тема */
  background-color: #f2f2f2;
  /* чтобы анимации не переполняли блок */
  overflow: hidden;
}
