/* задаём стиль ссылок подвала */

.footer__link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
}

/* прозрачность при наведении мыши на ссылку */

.footer__link:hover {
opacity: .5;
}
