/* описываем блок с двумя столбцами */

.two-columns {
  /* размеры и положение блока */
  max-width: 80%;
  margin: auto;
  /* преобразуем блок во флекс-контейнер для создания столбцов */
  display: flex;
  justify-content: space-between;
}
