/* задаём параметры логотипов раздела с ресурсами */

.resources__logo {
  width: 270px;
  height: 38px;
  object-fit: contain;
  opacity: 1;
  transition: opacity 1s;
}

/* прозрачность при наведении мыши на ссылку */

.resources__logo:hover {
  opacity: .5;
}
